/* customizable snowflake styling */


.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #A9D0C1;
}

body {
    background-color: #a0c6ba;
}

img {
    width: 100%;
}

.balloon-border {
    position: fixed;
    top: 100%;
    opacity: 0.5;
    z-index: 99999999;
}

.area {
    text-align: center;
    font-size: 70px;
    color: #FFEE8C;
    letter-spacing: -7px;
    font-weight: 700;
    text-transform: uppercase;
    animation: spin 2s ease-out infinite;
    
}

#nae {
    text-transform: capitalize;
}

#confetti {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

@keyframes spin {
    0% {
        transform: rotateZ(0);
    }

    25% {
        transform: rotateZ(10deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    75% {
        transform: rotateZ(-10deg);
    }
}

.type-wrap {
    font-size: 25px;
    color: #FFEE8C;

}

/* .cake {
    position: absolute;
    left: 50%;
    top: 360px;        
    transform: translateX(-50%);
    width: 250px;  } */


.birthday-title {
    font-family: 'Dubai', sans-serif;
    font-size: 65px;
    color: #FFEE8C;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative; /* Add this */
    z-index: 10;        /* Add this */
}

.birthday-banner {
    max-width: 350px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@keyframes breathe-glow {
    0% {
        text-shadow: 0 0 5px rgba(255, 238, 140, 0.2);
    }
    50% {
        text-shadow: 0 0 15px #FFEE8C, 0 0 25px #FFEE8C; /* The Glow */
    }
    100% {
        text-shadow: 0 0 5px rgba(255, 238, 140, 0.2);
    }
}

.pulse-active {
    animation: breathe-glow 4s ease-in-out infinite;
}

.main {
    display: flex;
    flex-direction: column;   /* Keeps banner on top and text below */
    align-items: center;      /* Centers horizontally */
    justify-content: center;  /* Centers vertically */
    min-height: 100vh;        /* Takes up the full height of the phone/computer screen */
    width: 100%;
}
.main .container {
    width: 100%;
    /*transform: translateY(-10px); /* adjust -20 / -30 / -50 */
}


