/* customizable snowflake styling */

.loader button {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    width: 80%;
    max-width: 420px;
    padding: 18px 22px;

    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;

    background: #ffffff;
    color: #a9d0c1;

    border: 2px solid #a9d0c1;
    border-radius: 8px;

    cursor: pointer;
    outline: none;

    box-shadow: 0 8px 20px rgba(169, 208, 193, 0.35);
    transition: all 0.25s ease;
}


.golden-btn:focus,
.golden-btn:hover {
    background-size: 150% 150%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
        inset 0 -2px 5px 1px #b17d10,
        inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    border: 1px solid rgba(165, 93, 7, .6);
    color: rgba(120, 50, 5, .8);
}

.golden-btn:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(110, 80, 20, .4),
        inset 0 -2px 5px 1px #e9e8e6,
        inset 0 -1px 1px 3px rgb(249, 249, 249);
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #A9D0C1;
}

.song {
    display: none;
}

body {
    background-color: #a0c6ba;
}

img {
    width: 100%;
}

.balloon-border {
    position: fixed;
    top: 100%;
    opacity: 0.5;
    z-index: 99999999;
}

.area {
    text-align: center;
    font-size: 70px;
    color: #FFEE8C;
    letter-spacing: -7px;
    font-weight: 700;
    text-transform: uppercase;
    animation: spin 2s ease-out infinite;
    
}

#nae {
    text-transform: capitalize;
}

#confetti {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

@keyframes spin {
    0% {
        transform: rotateZ(0);
    }

    25% {
        transform: rotateZ(10deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    75% {
        transform: rotateZ(-10deg);
    }
}

.type-wrap {
    font-size: 25px;
    color: #FFEE8C;

}

.cake {
    position: absolute;
    left: 50%;
    top: 360px;        /* adjust this to move cake up/down */
    transform: translateX(-50%);
    width: 250px;      /* optional: control cake size */
}


.birthday-title {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-size: 40px;
    color: #FFEE8C;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.birthday-banner {
    max-width: 350px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.main .container {
    transform: translateY(-50px); /* adjust -20 / -30 / -50 */
}


